@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
$base-color: #ffffff;
$background-color: #242424;
$hover-color: #5c7c89;
$modal-background-color: #1f4959;
$darker-blue-color: #011425;
$border-dark: rgba($base-color, 0.88);

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Montserrat, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
}

.modal-content {
  background-color: transparent;
}

input[type="number"] {
  -moz-appearance: textfield; //*for firefox
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
  width: 5px;
  background: $background-color;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  margin: 50px;
}
::-webkit-scrollbar-thumb {
  background: $hover-color;
  border-radius: 10px;
}

