$base-color: #ffffff;
$background-color: #242424;
$hover-color: #5c7c89;
$modal-background-color: #1f4959;
$darker-blue-color: #011425;
$border-dark: rgba($base-color, 0.88);

.homepage {
  color: $base-color;
  background: $background-color;
}

