:root {
  --bg-dark: #070a0a;
  --bg-dark-soft: #051113;
  --bg-green-soft: #13625c;
  --bg-green-darker: #164f4d;
  --bg-white: #fafafa;
}

.slick-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap;
}

.modal-content {
  background: var(--bg-dark-soft);
  padding: 25px;
}
